{erl_opts, [debug_info]}.

{deps, [
    {elli, "", {git, "git://github.com/knutin/elli.git", {branch, "master"}}}
]}.

{plugins, [
    {rebar_prv_alpaca,
     {git,
      "https://github.com/lepoetemaudit/rebar_prv_alpaca.git", {branch, "bootstrap"}}}
]}.

{relx, [{release, {alpaca_elli_example, "0.0.1"},
         [elli, alpaca_elli_example]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

{provider_hooks, [{pre, [{compile, {alpaca, compile}}]},
		 {pre, [{release, {alpaca, compile}}]}]}.